div{
    border-radius: 49%;
    background-color: lightgray;
     display:flow-root;
     height: 100%;
     width: 0 ;
     margin: center; }

button{
    
    display: block;
    width: 20% auto;
    margin: 0 auto; }



    
